dill==0.2.5
Django==1.10.2
Flask==0.11.1
Flask-Cors==2.1.2
numpy==1.18.5
numpydoc==0.6.0
pandas==0.25.3
scikit-learn==0.20.2
scipy==1.1.0
seaborn==0.9.0
gunicorn==19.9.0
beautifulsoup4==4.5.1
nltk==3.2.1